* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}
:root {
  --main-pal-lt: #dcd9e2;
  --main-pal-md: #aea9d1;
  --main-pal-blue: #576faf;
  --main-pal-dk: #3f3751;
}
/* BODY */
html {
  background-color: var(--main-pal-lt);
}
main {
  width: 400px;
  padding-top: 3vh;
}

/* CALCULATOR */
div.calculator {
  border-radius: 30px;
  padding-bottom: 20px;
  width: 330px;
  background-color: var(--main-pal-dk);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15), 0 32px 32px rgba(0, 0, 0, 0.15);
}

/*INTERIOR */
#display {
  width: 330px;
  height: 140px;
  margin-top: 30px;
  padding-top: 20px;
  text-align: right;
  color: var(--main-pal-lt);
}
#top-display {
  padding: 0 30px;
  height: 40px;
  font-size: 30px;
  margin-top: 15px;
}
#bot-display {
  padding: 0 30px;
  margin-top: 5px;
  height: 48px;
  font-size: 44px;
  color: #e9e7ec;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 6px;
  padding: 0px;
  border: none;
  color: #3f3751;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.zero-btn {
  width: 134px;
  height: 60px;
  border-radius: 50px;
}
.top-btn {
  background-color: var(--main-pal-md);
}
.op-btn {
  background-color: var(--main-pal-blue);
  color: #e9e7ec;
  font-size: 28px;
}
.num-btn {
  background-color: var(--main-pal-lt);
}
.equal-btn {
  background-color: var(--main-pal-blue);
  color: #e9e7ec;
  font-size: 28px;
}
